<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" type="text/css" href="test.css">
    </head>
    <body>
        <div id="app">
            <div class="container">
                <div class="titlebar">
                    TODO LIST
                </div>
                <input v-model="inputText" type="text" id="myInput" placeholder="请输入你想要添加的项目">
                <button id="btn" v-on:click="addTask">
                    添加
                </button>
                <div class="listbox">
                    <div style="display: block; width: 300px;">
                        <div v-for="todo in todos" style="display: block; ">
                            <div style="display: flex; position: relative; height: 30px;">
                                <label>
                                    <input v-model="todo.checked" type="checkbox" name="" id=""/> 
                                    <span class="checkbox"></span>
                                    <span class="todo"> {{todo.text}} </span>
                                </label>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="test.js"></script>
    </body>
</html>